<div>Hello this is Lifestyles<br/></div>
<h1>Lifestyles Count: {{number}}</h1>
<label>Name: </label> <input #pName /><br/>
<label>Lifestyle Type </label><input #ltype />
<button (click)="add(pName.value, ltype.value);">Add</button>
<span *ngIf="iName!=''">{{iName}} {{iType}} <br /> </span>

<h1>Flanders IT Programming</h1>
<div *ngFor="let s of names" style="background-color:aquamarine; width:20%; margin-bottom:10px;" ><a  (click)="onSelect(s)" style="display:inline-block; width:70%; cursor:pointer;">Name:{{s.name}} <br /> <b>Lifestyle: </b> {{s.lifestyle}} </a><div style="display:inline-block; width:30%; vertical-align:top; text-align:right;"><button (click)="deleteName(s.name, s.lifestyle, s.id)">X</button></div></div>
<div *ngIf="selectedStyle">
    {{selectedStyle.name}} is the name <br />
    <input [(ngModel)]="selectedStyle.name" #Name /><br />

    <input [(ngModel)]="selectedStyle.lifestyle" #lifestyle />
    <input style="display:none;" [(ngModel)]="selectedStyle.id" #Id />
    <button (click)="updateName(Name.value, lifestyle.value, Id.value)">Update</button>

</div>
<span *ngIf="dName!=''">{{dName}}  {{dStyle}} {{dId}}</span>
<!--"-->